extend components/theme.pug
block content
    section.main
        .content_main
            each title in title_main
                h1=title
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea incidunt, molestiae blanditiis sint consectetur.
            a(href="#") Shop Now
        figure.image_container
            img(src="https://raw.githubusercontent.com/OscarPalominoC/betterbeans/master/images/"+important_images[0])
    
    section.benefits
        .content
            p.section_description=section_main[0]
            h2.section_title=section_title[0]
            ul
                +benefit_list(benefits_image_url[0], benefits[0])
                +benefit_list(benefits_image_url[1], benefits[1])
                +benefit_list(benefits_image_url[2], benefits[2])
    
    section.goodies
        .content
            p.section_description=section_main[1]
            h2.section_title=section_title[1]
            .products
                +goodie_box(goodies_image_url[0], goodies_name[0], '$10.75')
                +goodie_box(goodies_image_url[1], goodies_name[1], '$11.75')
                +goodie_box(goodies_image_url[2], goodies_name[2], '$8.75')
                +goodie_box(goodies_image_url[3], goodies_name[3], '$10.00')
                +goodie_box(goodies_image_url[4], goodies_name[4], '$9.50')
            a(href="#") View All

    section.testimonials
        .content
            p.section_description=section_main[2]
            h2.section_title=section_title[2]
            .cards
                each index in [0, 1, 2, 3]
                    +testimonial(testimonial_image_url[index], "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, veniam maiores! Dolorem ducimus laboriosam facilis sequi iusto deleniti fugit! Rem minima architecto laborum veniam facilis fugit soluta impedit id quas.", testimonial_name[index], testimonial_rank[index])
    
    section.discounts
        figure.discount_container
            img(src="https://raw.githubusercontent.com/OscarPalominoC/betterbeans/master/images/"+important_images[1])
        .content
            h1 Get 20% Off of Your First Purchase
            p Enter your email address below to receive your discount code :)
            .actions
                input(type="email", name="email", placeholder="Your email address")
                a.send_button(href="#")
                    img(src="https://raw.githubusercontent.com/OscarPalominoC/betterbeans/master/images/send_button.svg")