// Variables
-var title = "Better Beans Clone"
-var links = ["Products", "Our Story", "Blog", "Contact"]
-var footer_links = ["Contact Us", "About", "Terms", "FAQ"]
-var important_images = ["main_bag.png", "discount.png", "logo.PNG"]
-var title_main = ["Better beans.", "Better coffee.", "Better planet."]
-var section_main = ["Benefits", "Products", "Clients' Testimonial"]
-var section_title = ["Why Better Beans?", "Our Popular Goodies", "What Coffee Lovers Say About Us?"]
-var benefits_image_url = ["benefits_1.PNG", "benefits_2.PNG", "benefits_3.PNG"]
-var benefits = ["100% Recycled Materials", "Fresh From The Field", "10% Donated From Each Sale for Trees"]
-var goodies_image_url = ["main_bag.png", "second_bag.png", "main_bag.png", "second_bag.png", "main_bag.png"]
-var goodies_name = ["blended love", "fruity joy", "lovely delight", "morning flavor", "cold delight"]
-var testimonial_image_url = ["tolkien.jpg", "martin.webp", "samael.jpg", "lakhsmi.jpg"]
-var testimonial_name = ["J. R. R. Tolkien", "George R. R. Martin", "V. M. Samael Aun Weor", "V. M. Lakhsmi Daimon"]
-var testimonial_rank = [4.0, 4.5, 5.0, 5.0]


// Mixins
mixin benefit_list(image, content)
    li
        img(src="https://raw.githubusercontent.com/OscarPalominoC/betterbeans/master/images/"+image)
        p=content

mixin goodie_box(image, name, price)
    .box
        figure
            img(src="https://raw.githubusercontent.com/OscarPalominoC/betterbeans/master/images/"+image)
        p.goodie_name=name
        p.goodie_price=price
        
mixin testimonial(image, content, name, rank)
    .card
        figure
            img(src="https://raw.githubusercontent.com/OscarPalominoC/betterbeans/master/images/"+image)
        .content
            p=content
            .name_rank
                p.name=name
                img(src="https://raw.githubusercontent.com/OscarPalominoC/betterbeans/master/images/rank.svg")
                p.rank=rank

